Source/Templates/EngageManifest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EngageManifest">
    <xs:complexType>
      <xs:all>
        <xs:element name="Title" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="Template" type="xs:string" />
        <xs:element minOccurs="0" name="PreviewImage" type="xs:string" />
        <xs:element minOccurs="0" name="Stylesheet" type="xs:string" />
        <xs:element minOccurs="0" name="ResourceFile" type="xs:string" />
        <xs:element minOccurs="0" name="Settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Setting">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Value" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="Module" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>